<div class="page-layout blank p-24 mb-50" skramblerPerfectScrollbar fxLayout="column" fxLayoutAlign="space-around stretch">
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <skrambler-header title="{{'TEXT.LIST_TITLE' | translate}}" [allowAction]="true" linkText="{{'TEXT.ADD_TITLE' | translate}}"
    [link]="routeList.USER_CREATE"></skrambler-header>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="30%" fxFlexFill>
          <mat-select placeholder="{{'FILTERS.STATUS.PLACEHOLDER' | translate}}" (selectionChange)="onStatusChange($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let status of this.constantList.STATUSES" [value]="status.value">
              {{status.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="30%" fxFlexFill>
          <mat-select placeholder="{{'FILTERS.ROLE.PLACEHOLDER' | translate}}" (selectionChange)="onRoleChange($event)">
            <mat-option>--</mat-option>
            <ng-container *ngIf="this.userService.roles.slug === this.constantList.SUPPER_ADMIN_ROLE">
            <mat-option  *ngFor="let role of this.constantList.ROLES" [value]="role.slug">
              {{role.slug}}
            </mat-option>
            </ng-container>
            <mat-option  *ngIf="this.userService.roles.slug === this.constantList.ADMIN_ROLE" [value]="this.constantList.BRAND_OWNER_ROLE">
              Brand Owner
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
  </div>
  <div class="table-overview-container">
    <skrambler-resource-table [displayedColumnsViewArray]="displayedColumnsViewArray"
      [endPointConfiguration]="endPointConfiguration" [triggerChange]="deletedItemId" (elementClick)="onClick($event)">
    </skrambler-resource-table>
  </div>
</div>
